*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(125, 75, 75);
}
.header{
    text-align: center;
    margin: 50px;
}
.parent{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img{
    height: 250px;
    width: 250px;
}
